<!doctype html>
<html>
  <head>
    <title>React SSR</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="app"><%- html %></div>             
    <script src="./app.js"></script>
  </body>
</html>